<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
   <appSettings>
    <add key="APIKey" value="voDD9LYmXwOW78rPfnrZljywJCi4QjuOSfaseM4b" />
    <add key="MarsRoverAPI" value="https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos" /> 
    <add key="Path" value="" /> 
    <add key="FileName" value="Dates.txt" />
   </appSettings>
</configuration>